require 'bundler'
Bundler.require

# Setup load paths
$: << File.expand_path('../', __FILE__)

require 'config/boot'
require 'app/api'
require 'app/models'

module <%= @name.camel_case %>
  App = Rack::Builder.new do
    use Rack::Cors do
      allow do
        origins "*"
        resource '*', headers: :any, :methods => [:get, :post, :put, :patch, :delete, :options]
      end
    end

    run API::Root
  end
end

include <%= @name.camel_case %>::Models
